<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style3.css"/>
</head>
<body>
    <form action="/students" method="POST">
   <h2>Create New Student:</h2><br/>
    <input type="text" name="name" placeholder="Enter name" required /><br/><br/>
    <input type="email" name="email" placeholder="Enter email" required /><br/><br/>
    <input type="number" step="0.01" name="cgpa" placeholder="Enter CGPA" required /><br/><br/>
    <button>Add Student</button>
</form>

</body>
</html>