<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="catlog">
    <h2 id="heading">Student Catlog!!</h2>
    <form method="get" action="/students">
        <button>Show Students Data</button>
    </form>
    </div>
</body>
</html>